.glider-contain{
    max-width: 80%;    
}

.slides {
    border-radius: 2rem;
    overflow: hidden;
}

.slide {
    align-items: center;
    color: black;
    display: flex;
    font-size:200%;
    justify-content: center;
    padding: 50px 0;
}
